<div class="row">
  <div class="col-lg-6">
    <example>
    <div class="tile-grid">
      <div class="row">
        <div class="tile tile-layout">
          <div class="col-xs-6 text-center">
            <div class="tile-content">
              <h2 class="lead"><i class="fa fa-bar-chart text-muted"></i></h2>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="tile-content">
              <h2>Gross Margin</h2>
              <h2 class="text-success">£221,778</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-eq-height">
        <div class="col-xs-6 tile tile-layout">
          <div class="col-xs-4 tile-content text-muted">
            <h5 class="lead"><i class="fa fa-line-chart"></i></h5>
          </div>

          <div class="col-xs-5 tile-content">
            <h5>Revenue</h5>
            <h5 class="text-info">£236,778</h5>
          </div>
        </div>

        <div class="col-xs-6 tile tile-layout">
          <div class="col-xs-4 tile-content text-muted">
            <h5 class="lead"><i class="fa fa-money"></i></h5>
          </div>

          <div class="col-xs-5 tile-content">
            <h5 class="text-normal">Cost</h5>
            <h5 class="text-danger">£14,804</h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="tile tile-layout">
          <div class="col-xs-6 tile-content text-right">
            <h2>Performance</h2>
          </div>

          <div class="col-xs-6 text-center">
            <div class="media-badge media-badge-success img-circle">
              <div class="media-badge-container fa-inverse">
                <h2>92%</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="tile">
          <div class="media-group-item media-row">
            <div class="media-badge media-badge-sm media-badge-warning img-circle">
              <span class="media-badge-container">
                <h6 class="lead"><i class="fa fa-flag fa-inverse"></i></h6>
              </span>
            </div>

            <div class="stretch">
              <div class="progress-indicator">
                <h5>Target</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" style="width: 60%;"></div>
                </div>
                <h5 class="pull-left text-muted">£8,000</h5>
                <h3 class="pull-right text-warning">60%</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-eq-height">
        <div class="col-xs-6 tile tile-layout">
          <div class="tile-content text-center">
            <h2 class="lead text-muted"><i class="fa fa-pie-chart"></i></h2>
            <h2>Net Margin</h2>
            <h2 class="text-success">£219,351</h2>
          </div>
        </div>

        <div class="col-xs-6 no-gutter">
          <div class="row">
            <div class="tile tile-layout">
              <div class="col-xs-4 tile-content text-muted">
                <div class="media-badge media-badge-xs img-circle">
                  <span class="media-badge-container">
                    <img class="img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg" />
                  </span>
                </div>
              </div>

              <div class="col-xs-5 tile-content text-center">
                <h5>Direct Costs</h5>
                <h5 class="text-danger">£2,623</h5>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="tile tile-layout">
              <div class="col-xs-4 text-muted text-center">
                <h5 class="lead"><i class="fa fa-credit-card"></i></h5>
              </div>

              <div class="col-xs-5 text-center tile-content">
                <h5>Indirect Costs</h5>
                <h5 class="text-danger">£12,716</h5>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="tile tile-layout">
              <div class="col-xs-4 tile-content text-muted">
                <h5 class="lead"><i class="fa fa-calculator"></i></h5>
              </div>

              <div class="col-xs-5 tile-content">
                <h5>Expenses</h5>
                <h5 class="text-danger">£1,313</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </example>
  </div>
</div>
