footer {
  margin-top: 120px;
}

.page-header h1 {
  margin: 0;
}

.page-title h1 {
  font-size: 50px;
  font-weight: 300;
}

.page-title h2 {
  font-size: 35px;
  font-weight: 300;
}

.page-title h3 {
  font-size: 26px;
  font-weight: 300;
}

.page-title h4 {
  font-size: 18px;
  font-weight: 300;
}
