<div class="row">
  <div class="col-md-6">
    <example>
    <ul class="list-group">

      <li class="list-group-item media-group-item collapsible-item active">
        <div class="collapsed media-row" data-toggle="collapse" data-target="#nested-2">
          <div class="media-badge img-circle">
            <span class="media-badge-container">
              <img class="img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
            </span>
            <span class="badge">
              <h5><i class="fa fa-user"></i></h5>
            </span>
          </div>
          <div>
            <h4 class="line-tighter">Nested list-group-item</h4>
            <h5 class="line-tighter text-muted">Donec eu ipsum vel massa pretium.</h5>
          </div>
        </div>

        <div id="nested-2" class="list-group">
          <a href="#" class="list-group-item">Donec ipsum</a>
          <a href="#" class="list-group-item">Donec ipsum</a>
          <a href="#" class="list-group-item">Donec ipsum</a>
        </div>
      </li>

      <li class="list-group-item media-group-item collapsible-item">
        <div class="collapsed media-row" data-toggle="collapse" data-target="#nested-3">
          <div class="media-badge img-circle">
            <span class="media-badge-container">
              <img class="img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
            </span>
            <span class="badge">
              <h5><i class="fa fa-user"></i></h5>
            </span>
          </div>
          <div>
            <h4 class="line-tighter">Nested dropdown-item</h4>
            <h5 class="line-tighter text-muted">Donec eu ipsum vel massa pretium.</h5>
          </div>
        </div>

        <ul id="nested-3" class="list-group">
          <li class="list-group-item dropdown-item">
            <a href="#">Nulla euismod</a>
            <a href="#" class="btn btn-default dropdown-toggle menu" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#"><span>Edit</span></a></li>
              <li><a href="#"><span>Delete</span></a></li>
            </ul>
          </li>
          <li class="list-group-item dropdown-item">
            <a href="#"> Donec eu ipsum </a>
            <a href="#" class="btn btn-default dropdown-toggle menu" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#"><span>Edit</span></a></li>
              <li><a href="#"><span>Delete</span></a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="list-group-item media-group-item collapsible-item">
        <div class="collapsed media-row" data-toggle="collapse" data-target="#nested-1">
          <div class="media-badge img-circle">
            <span class="media-badge-container">
              <img class="img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
            </span>
            <span class="badge">
              <h5><i class="fa fa-user"></i></h5>
            </span>
          </div>
          <div>
            <h4 class="line-tighter">Nested inline-form-item</h4>
            <h5 class="line-tighter text-muted">Donec eu ipsum vel massa pretium.</h5>
          </div>
        </div>

        <ul id="nested-1" class="list-group">
          <li class="list-group-item dropdown-item">
            <a href="#"> Donec eu ipsum </a>
            <a href="#" class="btn btn-default dropdown-toggle menu" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#"><span>Edit</span></a></li>
              <li><a href="#"><span>Delete</span></a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </example>
  </div>

  <div class="col-md-6">
    <example>
    <ul class="list-group">
      <li class="list-group-item collapsible-item active">
        <div class="collapsed" data-toggle="collapse" data-target="#nested-4">
          Active list-item
        </div>

        <ul id="nested-4" class="list-group">
          <li class="list-group-item dropdown-item">
            <a href="#">Nulla euismod</a>
            <a href="#" class="btn btn-default dropdown-toggle menu" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#"><span>Edit</span></a></li>
              <li><a href="#"><span>Delete</span></a></li>
            </ul>
          </li>
          <li class="list-group-item dropdown-item">
            <a href="#"> Donec eu ipsum </a>
            <a href="#" class="btn btn-default dropdown-toggle menu" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#"><span>Edit</span></a></li>
              <li><a href="#"><span>Delete</span></a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="list-group-item collapsible-item">
        <div class="collapsed" data-toggle="collapse" data-target="#nested-5">
          Level 1
        </div>

        <ul id="nested-5" class="list-group">
          <li class="list-group-item collapsible-item">
            <div class="collapsed" data-toggle="collapse" data-target="#nested-6">
              Level 2
            </div>

            <ul id="nested-6" class="list-group">
              <li class="list-group-item dropdown-item">
                <a href="#">Level 3</a>
                <a href="#" class="btn btn-default dropdown-toggle menu" data-toggle="dropdown">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#"><span>Edit</span></a></li>
                  <li><a href="#"><span>Delete</span></a></li>
                </ul>
              </li>
              <li class="list-group-item dropdown-item">
                <a href="#">Level 3</a>
                <a href="#" class="btn btn-default dropdown-toggle menu" data-toggle="dropdown">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#"><span>Edit</span></a></li>
                  <li><a href="#"><span>Delete</span></a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </example>
  </div>
</div>
