@list-item-padding: 8px 15px;
@indicator-size: 6px;

.nested-padding(@base-padding: 15px, @increment: 15px) {
  &.padding-1-left, .padding-1-left {
    padding-left: @base-padding;
  }

  &.padding-2-left, .padding-2-left {
    padding-left: @base-padding + @increment;
  }

  &.padding-3-left, .padding-3-left {
    padding-left: @base-padding + @increment * 2;
  }

  &.padding-4-left, .padding-4-left {
    padding-left: @base-padding + @increment * 3;
  }

  &.padding-5-left, .padding-5-left {
    padding-left: @base-padding + @increment * 4;
  }

  &.padding-6-left, .padding-6-left {
    padding-left: @base-padding + @increment * 5;
  }
}

.list-group-item {
  &.collapsible-item {
    padding: 0;
    border-top: none;
    border-bottom: none;

    &:not(.active) {
      color: initial;
    }

    &:not(.list-group-item-muted):not(.active) {
      &:hover {
        background-color: #fff;
      }
    }

    &.no-indicator {
      & > [data-toggle=collapse] {
        &::before {
          content: none;
        }
      }
    }

    &:not(.active):not(.list-group-item-muted) {
      > [data-toggle=collapse] {
        &:hover {
          background-color: @gray-lightest;
        }
      }
    }

    [data-toggle=collapse] {
      padding: @list-item-padding;
      border-top: none;
      border-bottom: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 14px;
        right: 15px;
        width: @indicator-size;
        height: @indicator-size;
        background-color: @brand-primary;
        border-radius: 50%;
      }

      &:not(.collapsed) {
        border-bottom: none;

        &::before {
          background-color: @gray-light;
        }
      }
    }

    .list-group-item {
      .nested-padding;
    }

    & > ul, & > .list-group {
      height: 0px;
      overflow: hidden;
      margin-bottom: 0px;

      &[aria-expanded=true] {
        height: auto;
        overflow: inherit;
      }

      &.collapsing {
        overflow: hidden;
      }

      &.in {
        .list-group-item:first-child:not(.active) {
          border-top: 1px solid @gray-lighter;
        }
      }
    }

    &.active {
      border-top-color: @brand-primary;
      border-bottom-color: @brand-primary;
      background-color: @brand-primary;

      > [data-toggle=collapse] {
        border-bottom: none;
        border-color: @brand-primary;

        &::before {
          border: 2px solid white;
          width: 9px;
          height: 9px;
        }

        &:not(.collapsed) {
          border-bottom: none;

          &::before {
            background-color: @gray-light;
          }
        }

        &:hover {
          background-color: @brand-primary;
        }
      }
    }
  }
}

.media-group-item {
  &.collapsible-item {
    [data-toggle=collapse] {
      border-left: none;
      border-right: none;
    }

    &:last-child [data-toggle=collapse] {
      border-bottom: none;
    }

    .media-group-item {
      .nested-padding;
    }

    & > ul, & > .list-group {
      .list-group-item {
        border-left: none;
        border-right: none;

        &.dropdown-item .dropdown-toggle {
          right: 2px;
        }
      }
    }

    &.active {
      border-bottom: none;
    }
  }
}
