<p>The inline search input is useful when you want to provide search results in real time via an asynchronous search action. When text is entered into the search input, a cross appears within the component and clicking it will clear the entered text.</p>
<example>
  <form class="input-group search-input" novalidate>
    <input type="text" name="search-input" required="required" class="form-control" placeholder="Search">
    <input type="reset" alt="clear" value="×">
    <i class="fa fa-search fa-fw text-muted"></i>
  </form>
</example>
