<example>
  <div class="media-group-item">
    <div class="media-badge img-circle pull-left">
      <span class="media-badge-container">
        <img class="img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
      </span>
      <span class="badge">
        <h5><i class="fa fa-user"></i></h5>
      </span>
    </div>
    <div class="media-content">
      <h4 class="line-looser">Nulla euismod, sapien eu lacinia</h4>
      <h5 class="line-tighter text-muted">Donec eu ipsum vel massa pretium.</h5>
      <h5 class="line-tighter text-muted">Pellentesque habitant morbi vene.</h5>
    </div>
  </div>
</example>
