<div class="row">
  <div class="col-md-6">
    <example>
    <ul class="list-group">
      <li class="list-group-item media-group-item active">
        <div class="media-badge media-badge-default img-circle pull-left">
          <span class="media-badge-container">
            <h3 class="lead"><i class="fa fa-flag fa-inverse"></i></h3>
          </span>
        </div>
        <div class="media-content">
          <h4 class="line-looser">Nulla euismod, sapien eu lacinia</h4>
          <h5 class="line-tighter text-muted">Donec eu ipsum vel massa pretium vene. In hac habitasse platea dictumst. Donec nec ligula pretium</h5>
        </div>
      </li>
      <li class="list-group-item media-group-item">
        <div class="media-badge img-circle pull-left">
          <img class="media-badge-container img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
        </div>
        <div class="media-content">
          <h4 class="line-looser">A media badge image left aligned</h4>
          <h5 class="line-tighter text-primary"><strong>Loose margin on header</strong></h5>
          <h5 class="text-muted">Tight margin on footer</h5>
        </div>
      </li>
      <li class="list-group-item media-group-item">
        <div class="media-badge img-circle pull-left">
          <img class="media-badge-container img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
        </div>
        <div class="media-content media-content-columns">
          <div class="stretch">
            <h4 class="line-tighter">Joe Bloggs</h4>
            <h5 class="text-muted line-tighter">Developer</h5>
          </div>
          <h4 class="text-info">£103,234</h4>
        </div>
      </li>
      <li class="list-group-item media-group-item unselectable">
        <div class="media-badge img-circle pull-left">
          <img class="media-badge-container img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
          <span class="badge">
            <h5><i class="fa fa-user"></i></h5>
          </span>
        </div>
        <div class="media-content">
          <h4 class="line-looser">Duis velit libero, condimentum eget</h4>
          <h5 class="line-tighter text-muted">Vivamus eget egestas nibh. Nam vitae tincidunt est. Aliquam erat volutpat. Aliquam et neque est; nam ligula.</h5>
        </div>
      </li>
      <li class="list-group-item media-group-item">
        <div class="media-badge img-circle pull-left">
          <img class="media-badge-container img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
        </div>
        <div class="media-content">
          <h4 class="line-looser">Mauris laoreet a libero quis cursus</h4>
          <h5 class="line-tighter text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras in ipsum justo. Sed ornare ipsum scelerisque sapien porttitor maximus. Aenean tempus sit amet arcu sit amet laoreet</h5>
        </div>
      </li>
      <li class="list-group-item media-group-item">
        <div class="media-content media-content-columns">
          <div>
            <h4 class="line-tighter">Joe Bloggs</h4>
            <h5 class="text-muted line-tighter">Developer</h5>
          </div>

          <h5 class="stretch line-tighter text-center text-muted">R&D</h5>
          <h4 class="text-info">£103,234</h4>
        </div>
      </li>
      <li class="list-group-item media-group-item">
        <div class="media-content media-content-columns">
          <h4 class="text-right line-tighter">Joe Bloggs</h4>
          <h5 class="stretch line-tighter text-muted ellipsize">Mauris laoreet a libero quis cursus senectus et netus</h5>
        </div>
      </li>
    </ul>
    </example>
  </div>

  <div class="col-md-6">
    <example>
      <ul class="list-group">
        <li class="list-group-item media-group-item active">
          <div class="media-badge media-badge-default img-circle pull-right">
            <span class="media-badge-container">
              <h3 class="lead"><i class="fa fa-flag fa-inverse"></i></h3>
            </span>
          </div>
          <div class="media-content">
            <h4 class="line-looser">Nulla euismod, sapien eu lacinia</h4>
            <h5 class="line-tighter text-muted">Donec eu ipsum vel massa pretium vene. In hac habitasse platea dictumst. Donec nec ligula pretium</h5>
          </div>
        </li>
        <li class="list-group-item media-group-item">
          <div class="media-badge img-circle pull-right">
            <img class="media-badge-container img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
          </div>
          <div class="media-content">
            <h4>A small amount of content</h4>
          </div>
        </li>
        <li class="list-group-item media-group-item">
          <div class="media-badge img-circle pull-right">
            <img class="media-badge-container img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
          </div>
          <div class="media-content media-content-columns">
            <div>
              <h4 class="line-tighter">Joe Bloggs</h4>
              <h5 class="text-muted line-tighter">Developer</h5>
            </div>

            <h5 class="stretch line-tighter text-center text-muted">R&D</h5>
            <h4 class="text-info">£103,234</h4>
          </div>
        </li>
        <li class="list-group-item media-group-item">
          <div class="media-badge media-badge-default img-circle pull-right">
            <span class="media-badge-container">
              <h3 class="lead"><i class="fa fa-flag fa-inverse"></i></h3>
            </span>
            <span class="badge">
              <h5><i class="fa fa-user"></i></h5>
            </span>
          </div>
          <div class="media-content">
            <h4 class="line-looser">Duis velit libero, condimentum eget</h4>
            <h5 class="line-tighter text-muted">Vivamus eget egestas nibh. Nam vitae tincidunt est. Aliquam erat volutpat. Aliquam et neque est; nam ligula.</h5>
          </div>
        </li>
        <li class="list-group-item media-group-item">
          <div class="media-badge img-circle pull-right">
            <img class="media-badge-container img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
          </div>
          <div class="media-content">
            <h4 class="line-looser">Mauris laoreet a libero quis cursus</h4>
            <h5 class="line-tighter text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras in ipsum justo. Sed ornare ipsum scelerisque sapien porttitor maximus. Aenean tempus sit amet arcu sit amet laoreet</h5>
          </div>
        </li>
        <li class="list-group-item media-group-item">
          <div class="media-content media-content-columns">
            <h4 class="text-info">£103,234</h4>
            <h5 class="stretch line-tighter text-center text-muted">R&D</h5>

            <div class="text-right">
              <h4 class="line-tighter">Joe Bloggs</h4>
              <h5 class="text-muted line-tighter">Developer</h5>
            </div>
          </div>
        </li>
        <li class="list-group-item media-group-item">
          <div class="media-content media-content-columns">
            <h5 class="stretch line-tighter text-muted ellipsize">Mauris laoreet a libero quis cursus senectus et netus</h5>
            <h4 class="text-right line-tighter">Joe Bloggs</h4>
          </div>
        </li>
      </ul>
    </example>
  </div>
</div>
