@media-group-item-padding: 16px;
@media-group-item-pull-margin: 15px;

.media-group-item {
  border: none;
  text-decoration: none;
  .display-flex;
  .align-items(center);

  .media-content {
    overflow: hidden;
    .flex(1);

    * {
      margin: 0;
    }

    &.media-content-columns {
      .display-flex;
      .align-items(center);

      & > * {
        margin-right: @media-group-item-pull-margin;

        &:last-child {
          margin-right: 0;
        }

        &.stretch {
          .flex(1);
        }
      }
    }
  }

  .media-badge {
    .align-self(flex-start);

    &.pull-right {
      .flex-order(2);
      margin-left: @media-group-item-pull-margin;
    }

    &.pull-left {
      margin-right: @media-group-item-pull-margin;
    }
  }

  .line-normal {
    margin-bottom: 5px;
  }

  .line-loose {
    margin-bottom: 7px;
  }

  .line-looser {
    margin-bottom: 10px;
  }

  .line-tight {
    margin-bottom: 2px;
  }

  .line-tighter {
    margin-bottom: 0px;
  }
}

.list-group-item {
  &.media-group-item {
    cursor: pointer;
    padding: @media-group-item-padding;
    border-bottom: 1px solid @gray-lighter;

    &:last-child {
      border-bottom: none;
    }

    &:only-child {
      border-top: none;
    }

    &:hover {
      background-color: @gray-lightest;
    }

    &.unselectable:hover {
      background-color: transparent;
      &.active:hover {
        background-color: @component-active-bg;
      }
      cursor: default;
    }

    &.active {
      background-color: @component-active-bg;
      border-bottom: 2px solid @component-active-bg;

      .media-content {
        > * {
          color: @component-active-color;
        }
      }

      .media-badge {
        border: 1px solid @component-active-color;
        color: @component-active-color;
      }
    }
  }
}

