<p>Easily highlight new or unread items by adding a <code>&lt;span class="badge"&gt;</code> to links, navs, and more.</p>
<example>
  <ul class="nav nav-pills">
    <li class="active"><a href="#">Home <span class="badge">1</span></a></li>
    <li><a href="#">Default <span class="badge badge-default">1</span></a></li>
    <li><a href="#">Primary <span class="badge badge-primary">1</span></a></li>
    <li><a href="#">Success <span class="badge badge-success">1</span></a></li>
    <li><a href="#">Info <span class="badge badge-info">1</span></a></li>
    <li><a href="#">Warning <span class="badge badge-warning">1</span></a></li>
    <li><a href="#">Danger <span class="badge badge-danger">1</span></a></li>
  </ul>
</example>
