<p>Provide highlighted tags on and within components..</p>
<title>Filled</title>
<example>
  <span class="label label-default">Default</span>
  <span class="label label-primary">Primary</span>
  <span class="label label-success">Success</span>
  <span class="label label-warning">Warning</span>
  <span class="label label-danger">Danger</span>
  <span class="label label-info">Info</span>
</example>
<title>Outlined</title>
<example>
  <span class="label label-default-inverse">Default</span>
  <span class="label label-primary-inverse">Primary</span>
  <span class="label label-success-inverse">Success</span>
  <span class="label label-warning-inverse">Warning</span>
  <span class="label label-danger-inverse">Danger</span>
  <span class="label label-info-inverse">Info</span>
</example>
