@media-item-padding: 16px;

.media-item {
  cursor: pointer;
  text-decoration: none;
  padding: @media-item-padding;

  img {
    height: 49px;
    width: 49px;
    margin-right: 10px;
  }

  .media-content {
    .clearfix();
    margin-left: 65px;

    h4 {
      margin: 0 0 10px;
    }

    p {
      margin: 0px;
    }

    h5 {
      margin: 0px;
    }
  }

  &:hover {
    background-color: @gray-lightest;
  }

  &.active {
    background-color: @component-active-bg;
    color: @component-active-color !important;
    h1, h2, h3, h4, h5, h6, p {
      color: @component-active-color;
    }
  }
}

.list-group-item.media-item {
  border: none;
  padding: @media-item-padding;
  border-bottom: 2px solid @gray-lighter;
}
