<example>
  <div class="media-group-item media-row">
    <div class="media-badge media-badge-sm media-badge-success img-circle">
      <span class="media-badge-container">
        <h6 class="lead"><i class="fa fa-flag fa-inverse"></i></h6>
      </span>
    </div>

    <div class="stretch">
      <div class="progress-indicator">
        <h5>Success title</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 60%;"></div>
        </div>
        <h5 class="pull-left text-muted">£8,000</h5>
        <h3 class="pull-right text-success">60%</h3>
      </div>
    </div>
  </div>
</example>
