<div class="col-md-6">
  <example>
    <div class="media-row">
      <div class="media-badge img-circle">
        <span class="media-badge-container">
          <img class="img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
        </span>
        <span class="badge">
          <h5><i class="fa fa-user"></i></h5>
        </span>
      </div>

      <div class="stretch">
        <h4 class="line-tighter">Joe Bloggs</h4>
        <h5 class="line-tighter text-muted">Developer</h5>
      </div>

      <h4 class="line-tighter text-muted">£103,234</h4>
    </div>
  </example>
</div>

<div class="col-md-6">
  <example>
    <div class="media-row">
      <h4 class="line-tighter text-muted">£103,234</h4>

      <div class="stretch">
        <h4 class="line-tighter">Joe Bloggs</h4>
        <h5 class="line-tighter text-muted">Developer</h5>
      </div>

      <div class="media-badge img-circle">
        <span class="media-badge-container">
          <img class="img-circle" alt="sample photo of sewing buttons" src="vendor/jpg/test_image_1.jpg">
        </span>
        <span class="badge">
          <h5><i class="fa fa-user"></i></h5>
        </span>
      </div>
    </div>
  </example>
</div>
