<example>
  <ul class="list-group">
    <li class="list-group-item inline-form-item">
      <form class="form-inline" role="form">
        <input type="text" class="form-control" placeholder="Cras justo odio">
        <a href="#" class="btn btn-link btn-sm">Cancel</a>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </form>
    </li>
    <li class="list-group-item inline-form-item">
      <form class="form-inline has-error" role="form">
        <input type="text" class="form-control" placeholder="Dapibus ac facilisis in">
        <a href="#" class="btn btn-link btn-sm">Cancel</a>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
        <span class="help-block">A block of error text that breaks onto a new line and may extend beyond one line.</span>
      </form>
    </li>
  </ul>
</example>
