<example>
  <div class="media-badge media-badge-default img-circle">
    <span class="media-badge-container">
      <h3 class="lead"><i class="fa fa-user fa-inverse"></i></h3>
    </span>
    <span class="badge">
      <h5>2</h5>
    </span>
  </div>
  <div class="media-badge media-badge-primary img-circle">
    <span class="media-badge-container">
      <h3 class="lead"><i class="fa fa-user fa-inverse"></i></h3>
    </span>
    <span class="badge">
      <h5>2</h5>
    </span>
  </div>
  <div class="media-badge media-badge-success img-circle">
    <span class="media-badge-container">
      <h3 class="lead"><i class="fa fa-user fa-inverse"></i></h3>
    </span>
    <span class="badge">
      <h5>2</h5>
    </span>
  </div>
  <div class="media-badge media-badge-info img-circle">
    <div class="media-badge-container fa-inverse">
      <h2>92%</h2>
    </div>
  </div>
  <div class="media-badge media-badge-warning img-circle">
    <div class="media-badge-container fa-inverse">
      <h2>100%</h2>
    </div>
  </div>
  <div class="media-badge media-badge-danger img-circle">
    <div class="media-badge-container fa-inverse">
      <h2>8%</h2>
    </div>
  </div>
</example>
