<example>
  <div class="media-badge media-badge-default media-badge-lg img-circle">
    <span class="media-badge-container">
      <h1 class="lead"><i class="fa fa-flag fa-inverse"></i></h1>
    </span>
    <span class="badge">
      <h3><i class="fa fa-user"></i></h3>
    </span>
  </div>
  <div class="media-badge media-badge-default img-circle">
    <span class="media-badge-container">
      <h3 class="lead"><i class="fa fa-flag fa-inverse"></i></h3>
    </span>
    <span class="badge">
      <h5><i class="fa fa-user"></h5></i>
    </span>
  </div>
  <div class="media-badge media-badge-sm media-badge-default img-circle">
    <span class="media-badge-container">
      <h6 class="lead"><i class="fa fa-flag fa-inverse"></i></h6>
    </span>
    <span class="badge">
      <h5 class="small"><i class="fa fa-user"></h5></i>
    </span>
  </div>
  <div class="media-badge media-badge-xs media-badge-default img-circle">
    <span class="media-badge-container">
      <h3><i class="fa fa-flag fa-inverse"></i></h3>
    </span>
    <span class="badge">
      <h6 class="small"><i class="fa fa-user"></h6></i>
    </span>
  </div>
</example>
