<example>
  <div class="media-badge media-badge-default-inverse img-circle">
    <span class="media-badge-container">
      <h3 class="lead"><i class="fa fa-user"></i></h3>
    </span>
    <span class="badge">
      <h5>2</h5>
    </span>
  </div>
  <div class="media-badge  media-badge-primary-inverse img-circle">
    <span class="media-badge-container">
      <h3 class="lead"><i class="fa fa-user"></i></h3>
    </span>
    <span class="badge">
      <h5>2</h5>
    </span>
  </div>
  <div class="media-badge media-badge-success-inverse img-circle">
    <span class="media-badge-container">
      <h3 class="lead"><i class="fa fa-user"></i></h3>
    </span>
    <span class="badge">
      <h5>2</h5>
    </span>
  </div>
  <div class="media-badge media-badge-info-inverse img-circle">
    <div class="media-badge-container">
      <h2>50%</h2>
    </div>
  </div>
  <div class="media-badge media-badge-warning-inverse img-circle">
    <div class="media-badge-container">
      <h2>100%</h2>
    </div>
  </div>
  <div class="media-badge media-badge-danger-inverse img-circle">
    <div class="media-badge-container">
      <h2>8%</h2>
    </div>
  </div>
  <div class="media-badge media-badge-default-inverse img-circle">
    <div class="media-badge-container">
      <h2 class="text-primary">8%</h2>
    </div>
  </div>
</example>
