<p>The most basic list group is simply an unordered list with list items, and the proper classes. Apply the <code>.active</code> class to highlight a list item. Apply the <code>.unselectable</code> class to remove the item hover style.</p>
<p>Apply the <code>.list-group-item-muted</code> class to provide a distinct style useful for header rows. Apply the <code>.list-group-item-condensed</code> class to reduce the top/bottom padding on the item, which is useful for providing a distinct row style when using with header rows.</p>
<example>
  <ul class="list-group">
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item active">Active item. Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item unselectable">Without hover state. Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-muted unselectable">Muted state. Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-condensed">Condensed list item. Dapibus ac facilisis in</li>
  </ul>
</example>
