<p>All list groups are minimally styled with no outer borders and only a thin top level border per item. This ensures the aesthetics of the list when placed within an app. However, there are occasions when a list group requires a top or bottom border to visually break up the components on the page.</p>
<p>Applying the <code>.list-group-border-top</code> class will set a border on the top of the list group.</p>
<p>Applying the <code>.list-group-border-bottom</code> class will set a border on the bottom of the list group.</p>
<p>Applying the <code>.list-group-border-vertical</code> class will set a border on the sides  of the list group.</p>
<p>If you require to apply a complete border on top, bottom and sides, then rather than adding the three classes above, you can apply the <code>.list-group-border-all</code> class which has the same effect as applying the three above classes to the list-group element.</p>

<div class="row">
  <div class="col-md-4">
    <title>Border Top</title>
    <example>
      <ul class="list-group list-group-border-top">
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Duis velit libero</li>
        <li class="list-group-item">Mauris laoreet a libero</li>
        <li class="list-group-item">Vivamus eget egestas</li>
      </ul>
    </example>
  </div>
  <div class="col-md-4">
    <title>Border Bottom</title>
    <example>
      <ul class="list-group list-group-border-bottom">
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Duis velit libero</li>
        <li class="list-group-item">Mauris laoreet a libero</li>
        <li class="list-group-item">Vivamus eget egestas</li>
      </ul>
    </example>
  </div>
  <div class="col-md-4">
    <title>Border Vertical</title>
    <example>
      <ul class="list-group list-group-border-vertical">
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Duis velit libero</li>
        <li class="list-group-item">Mauris laoreet a libero</li>
        <li class="list-group-item">Vivamus eget egestas</li>
      </ul>
    </example>
  </div>
</div>
