<example>
<div class="row">
  <div class="col-md-6">
    <div class="notice">
      <div class="media-badge media-badge-lg media-badge-default-inverse img-circle">
        <span class="media-badge-container">
          <h1 class="lead"><i class="fa fa-bell"></i></h1>
        </span>
      </div>
      <h2 class="text-muted"><strong>Notice Default</strong></h2>
      <p>You can customize the icon, title and text message to handle user messages inside your app.</p>
    </div>
    <div class="notice">
      <div class="media-badge media-badge-lg media-badge-primary-inverse img-circle">
        <span class="media-badge-container">
          <h1 class="lead"><i class="fa fa-bullhorn"></i></h1>
        </span>
      </div>
      <h2 class="text-primary"><strong>Notice Primary</strong></h2>
      <p>You can customize the icon, title and text message to handle user messages inside your app.</p>
    </div>
    <div class="notice">
      <div class="media-badge media-badge-lg media-badge-success-inverse img-circle">
        <span class="media-badge-container">
          <h1 class="lead"><i class="fa fa-check"></i></h1>
        </span>
      </div>
      <h2 class="text-success"><strong>Notice Success</strong></h2>
      <p>You can customize the icon, title and text message to handle user messages inside your app.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="notice">
      <div class="media-badge media-badge-lg media-badge-info-inverse img-circle">
        <span class="media-badge-container">
          <h1 class="lead"><i class="fa fa-flag"></i></h1>
        </span>
      </div>
      <h2 class="text-info"><strong>Notice Info</strong></h2>
      <p>You can customize the icon, title and text message to handle user messages inside your app.</p>
    </div>
    <div class="notice">
      <div class="media-badge media-badge-lg media-badge-warning-inverse img-circle">
        <span class="media-badge-container">
          <h1 class="lead"><i class="fa fa-exclamation-triangle"></i></h1>
        </span>
      </div>
      <h2 class="text-warning"><strong>Notice Warning</strong></h2>
      <p>You can customize the icon, title and text message to handle user messages inside your app.</p>
    </div>
    <div class="notice">
      <div class="media-badge media-badge-lg media-badge-danger-inverse img-circle">
        <span class="media-badge-container">
          <h1 class="lead"><i class="fa fa-times"></i></h1>
        </span>
      </div>
      <h2 class="text-danger"><strong>Notice Danger</strong></h2>
      <p>You can customize the icon, title and text message to handle user messages inside your app.</p>
    </div>
  </div>
</div>
</example>
