<p>Like other components, easily make a panel more meaningful to a particular context by adding any of the contextual state classes.</p>
<example>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title"><strong>Panel primary</strong></h4>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title"><strong>Panel success</strong></h4>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title"><strong>Panel warning</strong></h4>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title"><strong>Panel danger</strong></h4>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title"><strong>Panel info</strong></h4>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</example>
